In [1]:
import json
import pandas as pd

with open("BP_data/czechData.json", encoding="utf8") as f:
    docs = json.load(f)

docs = pd.DataFrame(docs)

In [2]:
docs.head()

,text,id,title,date
0,Příchod nové evropské měny o půlnoci na 1. led...,d1,\n304 miliony lidí ve 12 zemích si začalo vymě...,"Jan 2, 2002 12:00:00 AM"
1,Česká republika se sice zatím k jednotné evrop...,d14000,,"Jan 2, 2002 12:00:00 AM"
2,"V době, kdy eurobankomaty už několik hodin vyd...",d2,,"Jan 2, 2002 12:00:00 AM"
3,"Jak na Nový rok, tak po celý rok. Platí-li zná...",d3,\nDva na jednoho. Zeman a Klaus ve svém prvním...,"Jan 2, 2002 12:00:00 AM"
4,V první vteřině roku 2002 se v havlíčkobrodské...,d14001,,"Jan 2, 2002 12:00:00 AM"

In [10]:
docs.loc[docs['id']=='d1']['title'][0]

'\n304 miliony lidí ve 12 zemích si začalo vyměňovat své peníze za eura. Největší měnová revoluce v dějinách evropského kontinentu začala včera o půlnoci.\n'